<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="BatchTestSystem" value="BTS2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--
    <add name="DeviceBatchDatabaseEntities" connectionString="metadata=res://*/DeviceBatchDatabaseEntities.csdl|res://*/DeviceBatchDatabaseEntities.ssdl|res://*/DeviceBatchDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string='Data Source=192.168.1.41,49674;initial catalog=DeviceBatchDatabase;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />

    -->
    <add name="ServerConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="ProdString" connectionString="Data Source=192.168.1.41,49694;Initial Catalog=ProdDevBatchDB;Persist Security Info=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="debugListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DebugLog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>